Boto3==1.17.97
Click==7.0
ecs-logging==0.5.0
elastic-apm[flask]==5.10.0
Flask==1.0.2
gevent==21.8.0
IPy==0.83
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.9.1
MarkupSafe==1.1.0
Werkzeug==0.15.5
sentry-sdk[flask]==0.19.4
requests==2.25.0
